@import 'conf.scss';

html {
    font-family:$font-family;
    font-size:14px;
    box-sizing: border-box;
}

/* Reset: Fix 100% container */
*, *:before, *:after {
    box-sizing: inherit;
}

.mylist {

    box-sizing: border-box;
    background: $color-bg;
    border:1px solid $color-border;
    padding:10px;
    border-radius:$border-radius;

    .form_new_task {

        padding:0;
        margin:0;
    
        .new_task {

            position:relative;
    
            .title {
                padding:10px;
                border:1px solid $color-border;
                border-radius:$border-radius;
                outline:0;
                width:100%;
                background: $color-input;
            }
    
            .button_add {
                position:absolute;
                top:0;
                right:0;
                border:1px solid $color-border;
                background: $color-bg;
                padding:10px;
                border-radius:0 $border-radius $border-radius 0;
                font-weight:bold;
                cursor:pointer;
            }
        }
    
        .description {
            font-family:arial;
            font-size:14px;
            padding:10px;
            border:1px solid $color-border;
            border-radius:$border-radius;
            outline:0;
            width:100%;
            margin-top:10px;
            background: $color-input;
        }

    }
    
    .tasks_list {

        padding:0;
        margin:0;
        border-radius: $border-radius;
    
        .task {

            position:relative;
            background:$color-list;
            border-radius:$border-radius;
            list-style: none;
            padding:0 10px;
            border:1px solid $color-border;
            margin-bottom: 10px;

            &:first-child {
                margin-top:10px;
            }
    
            &:last-child {
                margin-bottom:0;
            }

            .title {
                font-weight:bold;
                text-transform: uppercase;
            }

            .description {
                font-style: italic;
            }
            
            .button_delete_task {

                display:block;
                position: absolute;
                top:7px;
                right:10px;
                font-size:30px;
                cursor:pointer;
    
                &:hover{
                    transform:scale(1.1);
                }
    
                &:active {
                    top:8px;
                }
            }
    
        }
    
    }
    
    .tasks_list_empty {
        margin-top:10px;
        padding-left:10px;
        color:$color-place-holder;
    }

}